/* You can add global styles to this file, and also import other style files */
html {background: rgba(42, 42, 42, 0.82);}
html, body { height: 100%;  margin: auto 10em;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: #fff;}
